<c-card>
  <c-card-body>
    <app-control-list-error-messages [errors]="errors"></app-control-list-error-messages>
    <form cForm [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
      <c-row [gutter]="2">
        <c-col [sm]="12" [md]="12" [xl]="12">
          <div cFormFloating>
            <input cFormControl formControlName="nome" placeholder="nome" autocomplete="off" [autofocus]="true" [valid]="
            this.errors && this.errors['nome'] != null ? false 
                    :getForms['nome'].touched && getForms['nome'].valid
                    ? true
                    : (submitted || getForms['nome'].touched) &&
                      getForms['nome'].invalid
                    ? false
                    : undefined
                " />
            @if(submitted || getForms['nome'].invalid){
              <c-form-feedback
              [valid]="!(submitted || getForms['nome'].invalid)">
              <ng-container *ngIf="getForms['nome'].errors as errors">
                <div>Nome inválido</div>
              </ng-container>
            </c-form-feedback>
            }
            
            @if (this.errors && this.errors['nome'] != null) {
              <c-form-feedback [valid]="false">
                @for (erro of this.errors['nome']; track $index) {
                <ng-container>
                  <div>{{erro}}</div>
                </ng-container>
                }
              </c-form-feedback>
              }
            <label cLabel for="floatingSelectGrid">Nome</label>
          </div>
        </c-col>
        <c-col [sm]="12" [md]="6" [xl]="6">
          <div cFormFloating>
            <input type="text" cFormControl formControlName="legenda" placeholder="legenda" autocomplete="off" [autofocus]="true" [valid]="
            this.errors && this.errors['legenda'] != null ? false 
                    :getForms['legenda'].touched && getForms['legenda'].valid
                    ? true
                    : (submitted || getForms['legenda'].touched) &&
                      getForms['legenda'].invalid
                    ? false
                    : undefined
                " />
            @if(submitted || getForms['legenda'].invalid){
              <c-form-feedback
              [valid]="!(submitted || getForms['legenda'].invalid)">
              <ng-container *ngIf="getForms['legenda'].errors as errors">
                <div>Legenda inválido</div>
              </ng-container>
            </c-form-feedback>
            }
            
            @if (this.errors && this.errors['legenda'] != null) {
              <c-form-feedback [valid]="false">
                @for (erro of this.errors['legenda']; track $index) {
                <ng-container>
                  <div>{{erro}}</div>
                </ng-container>
                }
              </c-form-feedback>
              }
            <label cLabel for="floatingSelectGrid">Legenda</label>
          </div>
        </c-col>
        <c-col [sm]="12" [md]="6" [xl]="6">
          <c-form-check [switch]="true">
            <input cFormCheckInput type="checkbox" formControlName="flagativo" />
            <label cFormCheckLabel>Ativo</label>
          </c-form-check>
        </c-col>
      </c-row>


    </form>
  </c-card-body>
</c-card>
@if (remessas != null && remessas.length > 0) {
  

<c-card class="mb-3">
  <c-card-header>
    Lista de Remessas do Analista
  </c-card-header>

  <c-card-body>
      <table [striped]="true" cTable hover>
          <thead>
              <tr>
                  <th scope="col">Título</th>
                  <th scope="col">Projeto</th>
                  <th scope="col">Data</th>
              </tr>
          </thead>
          <tbody>
              @for (item of remessas; track $index;) {
              <tr>
                  <td>{{item.titulo}}</td>
                  <td>{{item.projeto}} {{item.descricao}}</td>
                  <td scope="row">{{item.data | date: 'dd/MM/yyyy HH:mm' }}</td>
                 
              </tr>
              }@empty {
              <tr>
                  <td colspan="5">Nenhum registro encontrado</td>
              </tr>
              }


          </tbody>
      </table>
      <!-- <div class="d-flex justify-content-center">
          <pagination-controls previousLabel="Anterior" nextLabel="Proximo" (pageChange)="onTableDataChange($event)">
          </pagination-controls>
      </div> -->
  </c-card-body>
</c-card>
}